Alessio Rocchi <alessio.rocchi@iit.it>
Daniele E. Domenichelli <daniele.domenichelli@iit.it> <daniele.domenichelli@gmail.com>
Daniele E. Domenichelli <daniele.domenichelli@iit.it> <ddomenichelli@kde.org>
Elena Ceseracciu <eowyn83@gmail.com> <elena.ceseracciu@iit.it>
Silvio Traversaro <silvio.traversaro@iit.it> <pegua1@gmail.com>
