Alessio Rocchi <alessio.rocchi@iit.it>
Claudio Fantacci <claudio.fantacci@iit.it> <claudio.fantacci@gmail.com>
Claudio Fantacci <claudio.fantacci@iit.it> <claudiofantacci@users.noreply.github.com>
Daniele E. Domenichelli <daniele.domenichelli@iit.it> <daniele.domenichelli@gmail.com>
Daniele E. Domenichelli <daniele.domenichelli@iit.it> <ddomenichelli@kde.org>
Daniele E. Domenichelli <daniele.domenichelli@iit.it> <ddomenichelli@drdanz.it>
Elena Ceseracciu <elena.ceseracciu@iit.it> <eowyn83@gmail.com>
Francesco Romano <francesco.romano@iit.it> <francesco.romano.1987@gmail.com>
Silvio Traversaro <silvio.traversaro@iit.it> <pegua1@gmail.com>
